@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);


  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  --ff-outfit:  'Outfit', sans-serif;

  --fw-light: 300;
  --fw-medium: 400;
  --fw-semi-bold: 600;

}

/* style reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-outfit);
}

html, body{
  height: 100%;
}

body{
  display: grid;
  place-content: center;
  background-color: var(--Very-dark-blue-main-BG);
  color: var(--White);
}

main{
  max-width: 500px;
  background-color: var(--Very-dark-blue-card-BG);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 8px;
  border: solid 1px var(--White);
}

h1{
  font-size: 1.5rem;
  text-transform: uppercase;
}

main div{
  font-size: 6rem;
  
}


button{
  padding: .5rem 2rem;
  color: #000;
  font-weight: var(--fw-medium);
  background-color: var(--White);
  letter-spacing: 2px;
  border: solid 1px var(--White);
  border-radius: 6px;
  transition: all 300ms;
}

button:hover{
  background-color: var(--Very-dark-blue-card-BG);
  color: var(--White);
  transform: scale(1.1);
}